body {
    cursor: url(/Images/crosshairs.png);
}

.patternBG {
    background-color: #0b176b;
    color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='122.5' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.05' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

audio, canvas, video {
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    background-size: 100px 100px 199px 199px;
    color: darkorange;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.form-control {
    font-size: 1.7em;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(0, 40, 77);
}

.loginForm {
    z-index: 1;
    position: fixed;
    text-align: center;
    padding-top: 500px;
    margin: auto;
    padding-left: 400px;
    padding-right: 400px;
    font-family: Overwatch;
    font-size: 1.1em;
}

.registerForm {
    z-index: 1;
    position: fixed;
    text-align: center;
    padding-top: 250px;
    margin: auto;
    padding-left: 330px;
    padding-right: 330px;
    font-family: Overwatch;
    font-size: 1.1em;
}

.registerLoginText {
    color: darkorange;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.3em;
}

.submitRegisterButton {
    padding: 10px 90px 10px 90px;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: bold;
}

.registerBtn {
    color: #000;
    background-color: #FF8C00;
    border-color: #ed9831;
    border-width: 4px;
    font-family: Overwatch;
}

.registerBtn:hover {
    color: #fff;
    background-color: #ed8200;
}

.registerButton {
    padding: 10px 30px 10px 30px;
    color: #000;
    background-color: #FF8C00;
    border-color: #ed9831;
    border-width: 4px;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
}

.registerButton:hover {
    color: #fff;
    background-color: #ed8200;
    border-color: #ed9831;
}

.fa-question-circle:before {
    font-size: 1.5em;
    color: darkorange;
    padding-left: 10px;
}

.loginButton {
    padding: 10px 35px 10px 35px;
    color: #000;
    background-color: #FF8C00;
    border-color: #ed9831;
    border-width: 4px;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
}

.loginButton:hover {
    color: #fff;
    background-color: #ed8200;
    border-color: #ed9831;
}

.formBackgroundRegister {
    background-color: rgba(0, 40, 77, 75%);
    padding: 20px 90px 25px 90px;
}

.formBackgroundLogin {
    background-color: rgba(0, 40, 77, 75%);
    padding: 30px;
}

.fadeIn {
    animation-delay: 1.5s;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
}

.animated {
    animation-delay: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

tr {
    font-family: Overwatch;
}

/*-------------*/
/*NAVBAR STYLES*/
/*-------------*/
.navbar {
    min-height: 70px;
}

.navbar-inverse .navbar-brand {
    color: darkorange;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 4px;
}

.navbar-inverse {
    background-color: #1d3584;
    border-color: #0f2e60;
    opacity: .85;
}

.navbar-brand {
    padding: 25px 20px 25px 20px;
    font-family: Overwatch;
}

.navbar-brand:hover {
    font-size: 2em;
    background-color: #1a2e72;
}

.navbar-brand a:active {
    font-size: 2em;
    background-color: #1a2e72;
}



@font-face {
    font-family: "Overwatch";
    src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff');
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2000;
    cursor: pointer;
    font-family: Arial;
}

    /* Hide the tooltip content by default */
    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
    }

    /* Position tooltip above the element */
    [data-tooltip]:before {
        position: absolute;
        bottom: 150%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 10px 5px 10px 5px;
        width: 750px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: rgba(14, 57, 96, 90%);
        color: darkorange;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 1.25em;
        line-height: 1.4;
        letter-spacing: 4px;
        font-weight: bold;
        font-family: Overwatch;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
        position: absolute;
        bottom: 150%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

/* Right */
.tooltip-right:before,
.tooltip-right:after {
    bottom: 50%;
    left: 100%;
}

.tooltip-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    transform: translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
    top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px;
}

/*TABLE STYLES*/

th {
    font-size: 1em;
}

.h2Styles {
    font-family:Overwatch;
    color: darkorange;
    letter-spacing: 3px;
    font-weight:bolder;
    font-size: 3em;
}

.tableTDStyles th {
    font-family: Overwatch;
    color: darkorange;
    letter-spacing: 3px;
    font-size: 1.6em;
}

.backgroundShapes {
    width: 1112px;
    height: 50px;
    background-color: rgba(255,140,0, 60%);
    z-index: -1;
    margin-top: 37px;
    margin-left: -5px;
    color: black;
    font-family: Overwatch;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 23px;
}

.backgroundShapes:hover {
    background-color: rgba(255,140,0, 80%);
    width: 1200px;
    height: 75px;
    font-size: 23px;

}

.btn-Custom {
    color: black;
    font-weight: bolder;
    font-family: Overwatch;
    font-size: 1em;
    width: 80px;
    letter-spacing: 3px;
    height: 40px;
}

.btn-Custom-Text {
    color: black;
    background-color: #428bca;
    border-color: #357ebd;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    border-color: darkorange;
}

hr {
    border-color: darkorange;
}
